*~
\#*
.\#*

lib/classes/dedukti.jar

.vscode
.metals
.idea

examples/**/_CoqProject
examples/**/dkcheck
examples/**/*.dk
examples/**/*.lp
examples/**/*.v

logic/STTfa.v

*.dko
*.lpo

Makefile.coq
Makefile.coq.conf
*.glob
*.vo
*.vok
*.vos
.*.aux
.*.d
