*~

lib/classes/dedukti.jar

.vscode/**
.metals/**
.idea/**

HOL*.dk
*.dko
HOL*.lp
*.lpo
Pure.dk
Pure.lp
Tools*.dk
Tools*.lp
Complex_Main.dk
Complex_Main.lp
Main.dk
Main.lp

deps.mk

dkcheck.sh
kocheck.sh
