lib/classes/dedukti.jar
.vscode/**
.metals/**
.idea/**
isabelle_dedukti_test
*~
*.class
deps.mk
HOL*.dk
HOL*.lp
Pure.dk
Pure.lp
Tools*.dk
Tools*.lp
ROOT
Complex_Main.dk
Complex_Main.lp
Main.dk
Main.lp
