
on:
  pull_request:
    types: [opened, synchronize, edited, reopened]
  push:
  workflow_dispatch:
jobs:
  dedukti:
    strategy:
      fail-fast: false
      matrix:
        ocaml-version: [4.10.2, 4.11.1, 4.12.0]
        dedukti-version: [latest]
        # isabelle-version: [2021]
    runs-on: ubuntu-latest
    # container: makarius/isabelle:Isabelle2021-1-RC4
    steps:
      # - name: Install git
      #   run: |
      #     apt-get -y update
      #     apt-get -y install git
      - name: Install Isabelle
        run: |
          wget -q https://isabelle.sketis.net/website-Isabelle2021-1-RC4/dist/Isabelle2021-1-RC4_linux.tar.gz
          tar -xzf Isabelle2021-1-RC4_linux.tar.gz -C ~
      - name: Check out isabelle/dedukti repository
        uses: actions/checkout@v2
      - name: Set up opam ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}
      - name: Recovering cached files...
        uses: actions/cache@v2
        with:
          path: |
            ~/.opam
            ~/.isabelle
          key: ${{ runner.os }}-cache-${{ matrix.ocaml-version }}-2021-1-RC4-dedukti-${{ matrix.dedukti-version }}
      - name: Install dedukti.${{ matrix.dedukti-version }}
        run: |
          opam pin add -n dedukti git+https://github.com/Deducteam/dedukti.git
          opam update
          opam install dedukti
          opam upgrade
          eval $(opam env)
      - name: Build Isabelle/Dedukti
        run: |
          ~/Isabelle2021-1-RC4/bin/isabelle components -u .
          ~/Isabelle2021-1-RC4/bin/isabelle scala_build
      - name: Run tests
          # wget -q https://isabelle.in.tum.de/dist/Isabelle2021-1-RC4_linux.tar.gz
          # tar -xzf Isabelle2021-1-RC4_linux.tar.gz
          # Isabelle2021-1-RC4/bin/isabelle components -u .
          # Isabelle2021-1-RC4/bin/isabelle scala_build
        run: |
          ~/Isabelle2021-1-RC4/bin/isabelle dedukti_import -O main.dk Dedukti_Base
          eval $(opam env)
          dkcheck --eta main.dk

  lambdapi:
    strategy:
      fail-fast: false
      matrix:
        ocaml-version: [4.10.2, 4.11.1, 4.12.0]
        lambdapi-version: [latest]
        # isabelle-version: [2021]
        test-notations: [""] # , -n]  # Notations need 30GB RAM, Github won't provide this much
        # test-eta-contraction: [-e, ]
    runs-on: ubuntu-latest
    # container: makarius/isabelle:Isabelle2021-1-RC4
    steps:
      - name: Install Isabelle
        run: |
          wget -q https://isabelle.sketis.net/website-Isabelle2021-1-RC4/dist/Isabelle2021-1-RC4_linux.tar.gz
          tar -xzf Isabelle2021-1-RC4_linux.tar.gz -C ~
      - name: Check out isabelle/dedukti repository
        uses: actions/checkout@v2
      - name: Set up opam ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}
      - name: Recovering cached files
        uses: actions/cache@v2
        with:
          path: |
            ~/.opam
            ~/.isabelle
          key: ${{ runner.os }}-cache-${{ matrix.ocaml-version }}-2021-1-RC4-lambdapi-${{ matrix.lambdapi-version }}
      - name: Install lambdapi.${{ matrix.lambdapi-version }}
        run: |
          opam pin add -n lambdapi git+https://github.com/Deducteam/lambdapi.git
          opam update
          opam install lambdapi
          opam upgrade
          eval $(opam env)
      - name: Build Isabelle/Dedukti
        run: |
          ~/Isabelle2021-1-RC4/bin/isabelle components -u .
          ~/Isabelle2021-1-RC4/bin/isabelle scala_build
      - name: Run tests
          # wget -q https://isabelle.in.tum.de/dist/Isabelle2021-1-RC4_linux.tar.gz
          # tar -xzf Isabelle2021-1-RC4_linux.tar.gz
          # Isabelle2021-1-RC4/bin/isabelle components -u .
          # Isabelle2021-1-RC4/bin/isabelle scala_build
        run: |
          eval $(opam env)
          lambdapi init test
          ~/Isabelle2021-1-RC4/bin/isabelle dedukti_import -O "test/main.lp" ${{ matrix.test-notations }} Dedukti_Base
          lambdapi check -w test/main.lp
